$color-blue: #0000D6;
$color-dark-blue: #0B132B;

@mixin for-desktop-up {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-tablet-only {
  @media only screen and (min-width: 768px) and (max-width: 1439px) {
    @content;
  }
}

@mixin for-tablet-down {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin for-mobile-only {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 120%;
  color: white;
  background-color: $color-dark-blue;
  margin: 0;
  padding: 0;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background: center top / 1440px 943px linear-gradient(174.93deg, #3A506B 2.1%, rgba(11, 19, 43, 0) 89.02%) no-repeat;

  @include for-desktop-up {
    width: 1440px;
    background: url('/image/background/top.svg') no-repeat, center top / 1440px 943px linear-gradient(174.93deg, #3A506B 2.1%, rgba(11, 19, 43, 0) 89.02%) no-repeat;
  }
}

h1, h2, h3, h4 {
  line-height: 120%;
  margin: 0;
}

h1, h2 {
  font-weight: bold;
}

h3, h4 {
  font-weight: 300;
}

h2, h3 {
  @include for-tablet-up {
    filter: drop-shadow(2px 4px 6px black);
  }
}

h1 {
  font-size: 32px;
  margin: 12px 0;
  @include for-tablet-up {
    font-size: 72px;
    margin-bottom: 32px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
  @include for-tablet-up {
    font-size: 64px;
    margin-bottom: 24px;
  }

  section > & {
    text-align: center;
  }
}

h3 {
  font-size: 24px;
  margin-bottom: 8px;
  @include for-tablet-up {
    font-size: 48px;
    margin-bottom: 18px;
  }
}

h4 {
  font-size: 20px;
  margin-bottom: 4px;
  @include for-tablet-up {
    font-size: 24px;
    margin-bottom: 18px;
  }
}

h1.title {
  font-size: 24px;
  font-weight: 300;
  @include for-tablet-up {
    font-size: 48px;
    margin-bottom: 8px;
  }
}

p {
  font-size: 16px;
  line-height: 160%;
  text-align: justify;

  section > & {
    margin: 0 243px;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
  }
}

.milk-glass, #themes > .content > div {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 10px;

  section > & {
    padding: 12px;
    @include for-desktop-up {
      margin-left: 121px;
      width: 789px;
      padding: 100px;
    }

    > h2 {
      @include for-desktop-up {
        width: 1098px;
      }
    }
  }

  a {
    color: white;
  }
}

.button, button {
  display: inline-flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: $color-blue;
  width: 195px;
  height: 48px;
}

a.button {
  color: white;
  text-decoration: none;
}

button {
  color: $color-dark-blue;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  width: 100%;
  padding: 8px 8px;
  margin-top: 16px;
  @include for-tablet-up {
    padding: 14px 40px;
    margin: 0 21px;
    width: auto;
  }

  &:focus {
    outline: none;
  }
}

form {
  input, textarea {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    padding: 14px 20px;
    border: 1px solid white;
    border-radius: 10px;
    background: none;
    color: #A0A0A0;

    &::placeholder {
      color: #909090;
    }

    @include for-tablet-up {
      width: 405px;
    }

    &:focus {
      outline: none;
    }
  }

  input {
    height: 48px;
  }
}

nav > ul {
  display: none;
  padding: 0;
  margin: 0;
  @include for-tablet-up {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
  }
  @include for-desktop-up {
    justify-content: flex-end;
  }

  & > li {
    margin-left: 38px;
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

section {
  margin: 24px 0 0 0;
  @include for-desktop-up {
    margin-top: 100px;
    padding: 0 121px;
    &.half {
      display: flex;
      justify-content: space-between;

      > * {
        flex-grow: 1;
        flex-basis: 50%;
      }
    }
  }
}

#top {
  padding: 0;
  margin: 0;
  align-items: center;
  flex-direction: column;
  @include for-desktop-up {
    height: 680px;
    flex-direction: row;
    background: url('/image/brain.svg') no-repeat, url('/image/brain.png') no-repeat;
    p {
      width: 470px;
    }
  }

  .location {
    @include for-tablet-down {
      display: none;
    }
    font-size: 24px;
    line-height: 140%;
    font-weight: 900;
    @include for-desktop-up {
      padding-left: 304px;
      padding-top: 320px;
    }
  }

  .location-md {
    @include for-desktop-up {
      display: none;
    }
  }

}

#about {
  @include for-desktop-up {
    height: 715px;
    padding: 110px 0 130px 0;
    background: 37px bottom url('/image/aside/about.svg') no-repeat,
    720px 30px url('/image/wud.jpg') no-repeat,
    50px 0  / 900px url('/image/background/wud.svg') no-repeat;
  }

  h2 {
    letter-spacing: 2px;
  }
}

#proc {
  @include for-desktop-up {
    height: 715px;
    padding: 110px 0 130px 0;
    background: 37px bottom url('/image/aside/proc.svg') no-repeat,
    720px 30px url('/image/wud-2019.jpg') no-repeat,
    25px 0 / 700px url('/image/background/tema.svg') no-repeat;
  }
}

#kdy-kde {
  @include for-desktop-up {
    padding-top: 90px;
    background: right 37px bottom url('/image/aside/kdy-kde.svg') no-repeat,
    150px 0 / 1300px url('/image/background/kdy-kde.svg') no-repeat;
  }

  > .milk-glass {
    @include for-desktop-up {
      width: 733px;
      margin-left: 146px;
      padding: 40px;
    }
  }

  h2 {
    letter-spacing: 2.5px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include for-tablet-up {
      flex-direction: row;
    }

    > .inputs {
      display: flex;
      flex-direction: column;

      @include for-tablet-up {
        width: 405px;
      }

      textarea {
        margin-top: 8px;
      }
    }

    > .buttons {
      align-self: center;
      margin-top: 8px;
      @include for-tablet-up {
        align-self: flex-end;
        flex-grow: 1;

        > button {
          width: 100%;
        }
      }
    }
  }
}

#organizers {
  display: flex;
  flex-direction: column;
  @include for-desktop-up {
    background: right 37px bottom url('/image/aside/organizatori.svg') no-repeat;
  }

  .header {
    display: flex;
    @include for-desktop-up {
      > * {
        flex-grow: 1;
        flex-basis: 50%;
      }
    }
    @include for-tablet-down {
      .organization {
        display: none;
      }
    }
  }

  .title {
    text-align: center;
    @include for-desktop-up {
      text-align: left;
    }
    h3 {
      @include for-tablet-up {
        margin-bottom: 24px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include for-tablet-up {
      flex-flow: row wrap;
    }
    @include for-desktop-up {
      .organization {
        display: none;
      }
    }

    > * {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include for-tablet-up {
        min-width: 205px;
      }

      figcaption {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          margin: 0;
        }

        div {
          text-align: center;
        }
      }

      img {
        width: 80px;
        height: 80px;
        @include for-tablet-up {
          width: 160px;
          height: 160px;
        }
        border-radius: 10px;
        filter: drop-shadow(0px 0px 30px rgba(112, 226, 255, 0.27));
      }
    }
  }

  .organization {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 10;
    @include for-desktop-up {
      align-items: flex-end;
    }

    img {
      width: 120px;
      filter: none;
    }
  }

}

#contact {
  display: flex;
  background: rgba(1, 1, 214, 0.6);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 32px 24px;
  margin-bottom: 12px;
  flex-direction: column-reverse;

  @include for-desktop-up {
    padding: 100px 120px;
    flex-direction: row;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .social-media {
    flex-grow: 1;

    align-self: center;
    @include for-desktop-up {
      align-self: flex-end;
    }

    svg {
      margin-right: 24px;

      circle {
        fill: #505050;

        &:hover {
          fill: #707070;
        }
      }

      path {
        fill: white;
      }
    }

    > div {
      margin-top: 12px;
    }

    .e-mail {
      margin-bottom: 24px;
      @include for-desktop-up {
        margin-bottom: 48px;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .contact-form {
    padding: 40px;

    button {
      @include for-desktop-up {
        width: 220px;
      }
    }
  }
}

footer {
  font-size: 12px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  @include for-tablet-up {
    width: 400px;
  }

  a {
    color: white;
  }
}

@include for-mobile-only {
  .sm-center {
    display: flex;
    justify-content: center;
  }
}

@include for-tablet-down {
  .md-center {
    display: flex;
    justify-content: center;
  }
}

.glow {
  animation: 0.2s linear 0s 2 normal glow;
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0);
  }
  to {
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.5);
  }
}

form .error {
  color: orangered;
  font-weight: bold;
  margin: 8px 0;

  a {
    color: orangered;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
